@import helpers

body
  min-width: 375px

.row
    display: flex
    flex-wrap: wrap

.col
    flex: 1 0 0%

.d-flex
    display: flex

.flex-column
    flex-direction: column

.col-3
    flex: 0 0 auto
    width: 25%

.col-4
    flex: 0 0 auto
    width: 33.33333333%

.col-3-sm
    